**/.terraform/*
**/.terragrunt-cache/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

**/*.tfplan

**/*.orig

crash.log

**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

**/*.pem
**/*.crt
**/*.key
**/*.pem.pub

# Ignore platform automation's default output
**/output.json

.idea

cloudbuild-eks-dev-deploy-arau.yaml
.DS_Store